.edit__customer {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
} 

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

form div {
    width: 15em;
}

@media (min-width: 55rem) {
    form div {
        width: 30em;
    }
}